*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

libs/
src/main/java/top/lc951/weather/db/
src/main/java/top/lc951/weather/gson/
src/main/java/top/lc951/weather/service/
src/main/java/top/lc951/weather/util/
src/main/res/drawable/
